<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="css/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/faqs.css">
    <style>
        .f-title {
            width: 85%;
            margin: auto;
            font-size: 19px;
            color: #90121a;
        }
    </style>
    <title>DMCA</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md main-nav">
        <div class="container">
            <img src="images/btclod_logo.png" class="img-fluid logo-img" alt="logo-main">
            <button class="navbar-toggler nav-button toggle-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars text-light"></i>
            </button>
            <div class="d-flax">
                <div class="collapse navbar-collapse topnav-right" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <div class="d-flex ml-auto">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item  ml-auto">
                                    <a class="nav-link title" aria-current="page" href="home.html">Home</a>
                                </li>
                                <li class="nav-item  ml-auto">
                                    <a class="nav-link title" aria-current="page" href="about.html">About</a>
                                </li>
                                <li class="nav-item  ml-auto">
                                    <a class="nav-link title" aria-current="page" href="contactus.html">Contact
                                        Us</a>
                                </li>
                            </ul>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- header section -->
    <main class="main-container main-nav">
        <div class="p-5 p-md-5 mb-4 text-white rounded ">
            <div class="col-md-12 px-0">
                <h1 class="display-4 text-center fw-normal">DMCA</h1>
            </div>
        </div>
    </main>


    <!-- terms of condition -->
    <div class="container pt-5 pb-5">
        <div class="f-title">
            <h2 class="text-dark mb-4">SpecCRM.com – DMCA Policy </h2>
            <p>specCRM.com is in compliance with 17 U.S.C. § 512 and the Digital Millennium Copyright Act (“DMCA”).
                It is our policy to respond to any infringement notices and take appropriate actions under the Digital
                Millennium Copyright Act (“DMCA”) and other applicable intellectual property laws.</p>
            <p>If your copyrighted material has been posted on specCRM.com or if links to your copyrighted material
                are returned through our search engine and you want this material removed, you must provide a written
                communication that details the information listed in the following section. Please be aware that you
                will be liable for damages (including costs and attorneys’ fees) if you misrepresent information listed
                on our site that is infringing on your copyrights. We suggest that you first contact an attorney for
                legal assistance on this matter.</p>
            <p>The following elements must be included in your copyright infringement claim:</p>
            <p>Provide evidence of the authorized person to act on behalf of the owner of an exclusive right that is
                allegedly infringed.</p>
            <p>Provide sufficient contact information so that we may contact you. You must also include a valid email
                address.</p>
            <p>You must identify in sufficient detail the copyrighted work claimed to have been infringed and including
                at least one search term under which the material appears in specCRMcom search results.</p>
            <p>A statement that the complaining party has a good faith belief that use of the material in the manner
                complained of is not authorized by the copyright owner, its agent, or the law.</p>
            <p>A statement that the information in the notification is accurate, and under penalty of perjury, that the
                complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly
                infringed.</p>
            <p>Must be signed by the authorized person to act on behalf of the owner of an exclusive right that is
                allegedly being infringed.</p>
        </div>
    </div>

    <footer class="text-center text-white" style="background-color: #e84d56;">
        <!-- Grid container -->
        <div class="container pt-4">
            <h2 class="t-footer">SpecCRM</h2>

            <section class="mb-4">

                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="home.html" role="button"
                    data-mdb-ripple-color="dark">Home</a>


                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="about.html" role="button"
                    data-mdb-ripple-color="dark">About</a>


                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="faqs.html" role="button"
                    data-mdb-ripple-color="dark">FAQs</a>


                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="termsofservice.html"
                    role="button" data-mdb-ripple-color="dark">Terms of use</a>


                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="privacypolicy.html"
                    role="button" data-mdb-ripple-color="dark">Privacy Policy</a>

                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer" href="copyright.html"
                    role="button" data-mdb-ripple-color="dark">Copyright</a>

                <a class="btn btn-link btn-floating btn-lg text-white m-1 sub-footer-l" href="dmca.html" role="button"
                    data-mdb-ripple-color="dark">DMCA</a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-white p-3">
            © 2021 SPECCRM.
            <a class="text-white" href="http://speccrm.com/">All rights Recerved</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>